body {
  background: var(--bs-primary);
}

.qr-code img {
  width: 360px;
}

.card-container {
  width: 360px;
}

.card {
  width: 400px;
}

@media (max-width: 400px) {
  .qr-code img {
    width: 280px;
  }
  .card-container {
    width: 280px;
  }
  .card {
    width: 320px;
  }
}
